.header {
     width: 120rem;
     margin: 0rem auto;

    @media (max-width: 480px) {
            display: none;
        }

                @include md {
                display: none;
                }
   
    &__container {
        @include FlexSpace;
        margin: 0 auto;
        margin-bottom: 5rem;
       
    }
    &__logo{
        @include FlexCenter;
    }
}

.search {
    // display: flex;
    position: relative;
    align-items: center;
    margin-left: 1rem;

    &__input {
        padding: 1.5rem 4rem;
        min-width: 40rem;
        border-radius: 1rem;
        outline: none;
        border: none;
        background-color: #f5f5f6;
        font-size: 1.4rem;
    }

    &__label {
        position: absolute;
        top: 35%;
        left: 4%;
    }

}

.dataResult {
    margin-top: 5px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;

    a{
        text-decoration: none;
        color: black;
    }
}
.searchItem{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #f5f5f6;

    &__image{
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
    }
    &__track{
        font-size: 1.8rem;
        font-weight: 400;
    }
    &__artist {
    font-size: 1.4rem;
     font-weight: 400;
        color: grey;
    }
    &__artist_image{
        width: 6rem;
        height: 6rem;
        border-radius: 60%;
    }
}

.fa-magnifying-glass{
    font-size: 1.5rem;
}

.fa-record-vinyl{
        font-size: 2.5rem;
        color: #4141be;
    }

.nav {
    background-color: none;
    @include FlexCenter;

    a {
        font-size: 1.8rem;
        margin-right: 3rem;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }
}