
.lyrics {
    font-family: Poppins, sans-serif;
    width: 120rem;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;

    @include sm {
            flex-direction: column;
            width: 100%;
            padding: 3rem;
        }

@include md {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
}

@include lg {
    padding: 3rem;
}
    p {
        font-size: 2rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 2.1rem;
        margin: 4rem 0 0 0;
        font-weight: 600;
    }
}

.lyrics_wrapper{
    display: flex;
    width: 120rem;
    margin: 4rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f5f5f6;


  @include sm {
            flex-direction: column;
            width: 100%;
            padding: 3rem;
        }

                @include md {
                    flex-direction: column;
                    width: 100%;
                    padding: 3rem;
                }


                                @include lg {
                                    padding: 3rem;
                                }

    &__image{
        @include HeroImage(25rem, 25rem);
        margin-right:2rem
    }
    &__track {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: .8rem;
    }
    &__artist {
        font-size: 2rem;
        font-weight: 300;
        margin-top: 1rem;
        text-transform: capitalize;
        color: #4141be;
    }
    &__desc {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 3rem;
        color: grey;
        }
}



.related{
        display: flex;
            justify-content: space-between;
            width: 120rem;
            margin: 0 auto;

@include sm {
    @include FlexCenterWrap;
    width: 100%;

}

@include md {
    @include FlexCenterWrap;
    width: 100%;
    padding: 3rem;
}
@include lg {
    padding: 3rem;
}

            a{
                text-decoration: none;
                color: black;
            }

        &__image{
            @include HeroImage(18rem, 18rem);
        }    
}

.related_desc{
  width: 120rem;;
    margin: 0 auto;
    font-size: 2.3rem;
    color: #4141be;
    margin-bottom: 2.5rem;
    font-weight: 700;

    @include md {
            flex-direction: column;
            width: 100%;
            padding: 3rem;
        }

@include sm{
            flex-direction: column;
            width: 100%;
            padding: 3rem;
        }

                @include lg {
                    padding: 3rem;
                }
}