.main {
    width: 130rem;
    position: relative;
    margin: 0 auto;

    h2 {
        @include HeroHeader2(1.8rem);
        margin-bottom: 2rem;

    }

        @include sm {
            width: 100%;
            margin-top: 7rem;

            h2 {
                text-align: center;

                }
        }


}



.loading {
    position: absolute;
    top: 50vh;
    left: 40vw;
}

.slide_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0 1rem 0;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #f5f5f6;
    color: #4141be;
    margin-right: 2rem;
    padding: .8rem 1rem;
    border-radius: .8rem;
    cursor: pointer;
}

.trending{
     margin-bottom: 6rem;
     cursor: pointer;

     


    &__image {
        @include HeroImage(20rem, 20rem);
        margin-bottom:.5rem;

@include md {
        @include HeroImage(10rem, 10rem);
    }

    }
    &__artist {
        @include HeroArtist;
    }
    &__track {
        @include HeroTrack;
    }
   
}

.new {
    @include FlexCenterWrap;
     margin-bottom: 5rem;

    @include sm {
            @include FlexCenterWrap;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 1rem;
            padding: 2rem;
        }

            @include md {
                    @include FlexCenterWrap;
                    width: 100%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    padding: 2rem;
                }

    &__container {
        margin-bottom: 7rem;

        @include sm {
             margin-bottom: 2rem;
        }
    }
    &__image {
        @include HeroImage(22rem, 22rem);

    @include md {
            @include HeroImage(10rem, 10rem);
        }
    }
    &__artist {
        @include HeroArtist;

        @include md {
                font-size: 1rem;
            }
    }
    &__track {
        @include HeroTrack;

        @include md {
                font-size: 1.3rem;
            }
    }
}

.playlist {
    &__name {
        @include HeroTrack
    }

    &__author {
        @include HeroArtist;
    }
}

.chartAdsArea {
    @include FlexSpace;
    padding-right: 3rem;
    margin-bottom: 4rem;
    margin: 0 auto;

    @include sm {
           flex-direction: column;
        width: 100%;
        }

       @include md {
            flex-direction: column;
                width: 100%;
            margin: 0 auto;
                 }
}

.chartAds {
    margin-left: 5rem;
}

.chart {
    width: 70%;
    padding-top: 5rem;

@include md {
        width: 100%;
        padding: 1rem;
    }
   
    h2 {
        @include HeroHeader2(2.5rem);
        font-weight: 700;
        padding: .4rem 1rem;
        // text-align: center;
    }
    &__container {
        @include FlexSpace;
        padding: .6rem .4rem;
        cursor: pointer;
        text-decoration: none;
        color: black;

     @include md {
        width: 100%;
        padding: 1rem;
    }

        &:hover {
            background-color: #f5f5f6;
            border-radius: 1rem;
        }
    }
    &__artist {
        @include HeroArtist;
        width: 50%;
        text-transform: capitalize;

        @include sm {
            width: 100%;
            
            }
    }

    &__track {
        @include HeroTrack;
        width: 20rem;
        margin-left: 1rem;
        text-transform: capitalize;

        @include sm {
                width: 12rem;
                font-size: 1.2rem;
        
            }
    }

    &__position {
        width: 1.6rem;
        font-size: 1.5rem;
        margin-right: 1rem;
        font-weight: 500;
    }
    &__more-container{
        text-decoration: none;
        color: black;
         }

    &__more {
        font-size: 1.8rem;
        font-weight: 600;
        border: 1px solid #4141be;
        padding: 1.4rem 4rem;
        cursor: pointer;
        width: 15vw;
        margin: 2rem auto;
        text-align: center;

        @include sm {
                width: 90%;
                font-size: 1.2rem;
        
            }
    }
       
}

 .love_container {
     @include FlexSpace;
     padding: .6rem .4rem;
     cursor: pointer;
     text-decoration: none;
     color: black;

    @include sm {
        display: none
        }

                 @include md {
                     display: none
                 }
 }