.remove_nav{
    @media (min-width:760px) {
        display: none;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;

   &__list{
        list-style: none;
        padding: 4rem;
        display: flex;
    }

    &__container{
       display: flex;
       margin-right: 2rem;
       align-items: center;

        a{
            font-size: 2rem;
            text-decoration: none;
            color: black;
        }
    }
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 4
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #4141be;
    border-radius: 0.5em;
}

.menu {
    width: 50%;
    margin-top: 6rem;
    background-color: #f5f5f6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

/* ------------- sliding menu ------------------ */
.hidden {
   display: none;
}

.visible {
    right: 0;
    transition: ease-in-out 3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}