* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Crimson Pro", serif;
  font-size: 10px;
}

.button {
  padding: 0.6rem 1.6rem;
  margin-right: 1rem;
  border-radius: 0.6rem;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  background-color: #4141be;
  color: white;
  cursor: pointer;
}

.button_NoBg {
  padding: 0.6rem 1.6rem;
  margin-right: 1rem;
  border-radius: 0.6rem;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

.header {
  width: 120rem;
  margin: 0rem auto;
}
@media (max-width: 480px) {
  .header {
    display: none;
  }
}
@media (max-width: 760px) {
  .header {
    display: none;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  align-items: center;
  margin-left: 1rem;
  padding: 1rem;
}
.search__input {
  padding: 1.5rem 4rem;
  min-width: 35rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #f5f5f6;
  font-size: 1.4rem;
}
.search__label {
  position: absolute;
  top: 37%;
  left: 5%;
}

.dataResult {
  margin-top: 5px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 9999;
}
.dataResult a {
  text-decoration: none;
  color: black;
}

.searchItem {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #f5f5f6;
}
.searchItem__image {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}
.searchItem__track {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
.searchItem__artist {
  font-size: 1.4rem;
  font-weight: 400;
  color: grey;
  text-transform: capitalize;
}
.searchItem__artist_image {
  width: 6rem;
  height: 6rem;
  border-radius: 60%;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
}

.fa-record-vinyl {
  font-size: 2.5rem;
  color: #4141be;
}

.nav {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  font-size: 1.8rem;
  margin-right: 3rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.sidebar {
  padding: 1.2rem 2.5rem;
  background-color: #f5f5f6;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar__container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.sidebar__text {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 6rem 0 1rem 0;
  cursor: pointer;
  color: grey;
}
.sidebar a {
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.sidebar h4 {
  font-size: 2rem;
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 5rem 0;
}

.message {
  background-color: #ffffff;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}
.message__text {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  color: grey;
}
.message h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.fa-house, .fa-list-check, .fa-compact-disc, .fa-user, .fa-chart-simple, .fa-heart, .fa-list, .fa-play {
  font-size: 1.6rem;
  color: #4141be;
  margin-right: 1rem;
  width: 2rem;
}

.fa-bars {
  font-size: 3rem;
  color: #4141be;
}

.main {
  width: 130rem;
  position: relative;
  margin: 0 auto;
}
.main h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .main {
    width: 100%;
    margin-top: 7rem;
  }
  .main h2 {
    text-align: center;
  }
}

.loading {
  position: absolute;
  top: 50vh;
  left: 40vw;
}

.slide_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0 1rem 0;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #f5f5f6;
  color: #4141be;
  margin-right: 2rem;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.trending {
  margin-bottom: 6rem;
  cursor: pointer;
}
.trending__image {
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5rem;
}
@media (max-width: 760px) {
  .trending__image {
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.trending__artist {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
}
.trending__track {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  font-weight: 600;
  text-transform: capitalize;
}

.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
@media (max-width: 480px) {
  .new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
@media (max-width: 760px) {
  .new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
.new__container {
  margin-bottom: 7rem;
}
@media (max-width: 480px) {
  .new__container {
    margin-bottom: 2rem;
  }
}
.new__image {
  min-width: 22rem;
  min-height: 22rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 760px) {
  .new__image {
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.new__artist {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
}
@media (max-width: 760px) {
  .new__artist {
    font-size: 1rem;
  }
}
.new__track {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 760px) {
  .new__track {
    font-size: 1.3rem;
  }
}

.playlist__name {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  font-weight: 600;
  text-transform: capitalize;
}
.playlist__author {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
}

.chartAdsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
  margin-bottom: 4rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .chartAdsArea {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .chartAdsArea {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

.chartAds {
  margin-left: 5rem;
}

.chart {
  width: 70%;
  padding-top: 5rem;
}
@media (max-width: 760px) {
  .chart {
    width: 100%;
    padding: 1rem;
  }
}
.chart h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-weight: 700;
  padding: 0.4rem 1rem;
}
.chart__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
@media (max-width: 760px) {
  .chart__container {
    width: 100%;
    padding: 1rem;
  }
}
.chart__container:hover {
  background-color: #f5f5f6;
  border-radius: 1rem;
}
.chart__artist {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  width: 50%;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .chart__artist {
    width: 100%;
  }
}
.chart__track {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  font-weight: 600;
  text-transform: capitalize;
  width: 20rem;
  margin-left: 1rem;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .chart__track {
    width: 12rem;
    font-size: 1.2rem;
  }
}
.chart__position {
  width: 1.6rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 500;
}
.chart__more-container {
  text-decoration: none;
  color: black;
}
.chart__more {
  font-size: 1.8rem;
  font-weight: 600;
  border: 1px solid #4141be;
  padding: 1.4rem 4rem;
  cursor: pointer;
  width: 15vw;
  margin: 2rem auto;
  text-align: center;
}
@media (max-width: 480px) {
  .chart__more {
    width: 90%;
    font-size: 1.2rem;
  }
}

.love_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
@media (max-width: 480px) {
  .love_container {
    display: none;
  }
}
@media (max-width: 760px) {
  .love_container {
    display: none;
  }
}

.lyrics {
  font-family: Poppins, sans-serif;
  width: 120rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .lyrics {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 760px) {
  .lyrics {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
  }
}
@media (max-width: 1190px) {
  .lyrics {
    padding: 3rem;
  }
}
.lyrics p {
  font-size: 2rem;
  line-height: 3rem;
}
.lyrics h2 {
  font-size: 2.1rem;
  margin: 4rem 0 0 0;
  font-weight: 600;
}

.lyrics_wrapper {
  display: flex;
  width: 120rem;
  margin: 4rem auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f5f5f6;
}
@media (max-width: 480px) {
  .lyrics_wrapper {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 760px) {
  .lyrics_wrapper {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 1190px) {
  .lyrics_wrapper {
    padding: 3rem;
  }
}
.lyrics_wrapper__image {
  min-width: 25rem;
  min-height: 25rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
}
.lyrics_wrapper__track {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.lyrics_wrapper__artist {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-transform: capitalize;
  color: #4141be;
}
.lyrics_wrapper__desc {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: grey;
}

.related {
  display: flex;
  justify-content: space-between;
  width: 120rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .related {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .related {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 1190px) {
  .related {
    padding: 3rem;
  }
}
.related a {
  text-decoration: none;
  color: black;
}
.related__image {
  min-width: 18rem;
  min-height: 18rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.related_desc {
  width: 120rem;
  margin: 0 auto;
  font-size: 2.3rem;
  color: #4141be;
  margin-bottom: 2.5rem;
  font-weight: 700;
}
@media (max-width: 760px) {
  .related_desc {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 480px) {
  .related_desc {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
}
@media (max-width: 1190px) {
  .related_desc {
    padding: 3rem;
  }
}

.main_chart {
  width: 130rem;
  margin: 4rem auto;
}
.main_chart__desc {
  display: flex;
}
.main_chart__image {
  min-width: 25rem;
  min-height: 25rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 2rem 2rem 2rem;
}
@media (max-width: 480px) {
  .main_chart {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  .main_chart__desc {
    flex-direction: column;
    padding: 3rem;
    margin: 0 auto;
    text-align: center;
  }
  .main_chart__image {
    min-width: 18rem;
    min-height: 18rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}
@media (max-width: 760px) {
  .main_chart {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  .main_chart__desc {
    flex-direction: column;
    padding: 3rem;
    margin: 0 auto;
    text-align: center;
  }
  .main_chart__image {
    min-width: 18rem;
    min-height: 18rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}
@media (max-width: 1190px) {
  .main_chart {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
}

.artist_container {
  width: 130rem;
  margin: 4rem auto;
}
@media (max-width: 480px) {
  .artist_container {
    width: 100%;
    margin-top: 3rem;
  }
}
.artist_container__imageArea {
  background-color: black;
  padding: 6rem;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .artist_container__imageArea {
    flex-direction: column;
  }
}
.artist_container__image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.artist_container__artistName {
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
}
.artist_container__songLength {
  font-size: 1.8rem;
  color: white;
  margin-left: 2.3rem;
  margin-top: 1rem;
}
.artist_container__lyrics {
  font-size: 1.8rem;
  color: grey;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.artist_wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .artist_wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.artist_wrapper__content {
  width: 75%;
  margin-top: 1.6rem;
}
@media (max-width: 480px) {
  .artist_wrapper__content {
    align-items: center;
    width: 100%;
  }
}
.artist_wrapper__ads {
  margin-top: 2.5rem;
}

.footer {
  padding-top: 3rem;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  height: 10rem;
}
.footer p {
  font-size: 1.6rem;
  margin-right: 3rem;
  color: gray;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
}
.footer__copyright p {
  font-size: 1.8rem;
  margin-right: 3rem;
  color: gray;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
  font-size: 3.5rem;
  margin-right: 3rem;
}

@media (min-width: 760px) {
  .remove_nav {
    display: none;
  }
}

.navbar {
  height: 5em;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.4rem;
}
.navbar__list {
  list-style: none;
  padding: 4rem;
}
.navbar__container {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.navbar__container a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 4;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: #4141be;
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  margin-top: 6rem;
  background-color: #f5f5f6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  right: 0;
  transition: ease-in-out 3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.news {
  margin-bottom: 5rem;
  padding-top: 2rem;
  display: flex;
}
.news__desc {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5rem;
}
.news__featured {
  position: relative;
  width: 40rem;
}

.featured_contents {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.featured_contents__cat {
  font-size: 2rem;
  color: aqua;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}
.featured_contents__title {
  font-size: 4rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px black;
}
.featured_contents__desc {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
}/*# sourceMappingURL=globals.css.map */